*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.lev{
    width: 1600px;
   
    
}
.h1{
    text-align: center;
}

.p{
    text-align: center;
    font-weight: 700;
}
.btnclass{
    text-align: center;
    transform: translateY(-600px);
  
}

